<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ryan Gordon | DevOps Engineer</title>

  <meta name="description"
    content="Personal portfolio of Your Name. Software Engineer specializing in modern web development." />

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="style.css">
  <script src="script.js" defer></script>

<body>

  <!-- HERO -->
  <header>
    <div class="container hero">
      <h1>Hi, I'm <span> Ryan Gordon</span><br />DevOps Engineer</h1>
      <p>
        I build clean, scalable, and user-focused websites.
        Passionate about modern web technologies, performance, and great UX.
      </p>

      <div class="hero-actions">
        <a href="#projects" class="btn btn-primary">View Projects</a>
        <a href="#contact" class="btn btn-secondary">Contact Me</a>
      </div>
    </div>
  </header>

  <!-- ABOUT -->
  <section class="container">
    <div class="section-title">
      <h2>About Me</h2>
      <p>Short professional introduction</p>
    </div>

    <p class="about">
      I am a Junior DevOps Engineer with an emerging foundation in IT support, systems administration, and cloud
      infrastructure. I have hands-on experience working with Linux and Windows environments, AWS services, CI/CD
      workflows, and identity management, as well as supporting enterprise users and production systems.</p>
    <br>
    <p class="about">My background spans IT operations, security, and software engineering, allowing me to bridge
      infrastructure
      reliability with practical automation and problem-solving. I am driven to grow in systems-based and DevOps roles
      where I can improve uptime, security, streamline deployments, and support scalable platforms.
    </p>
  </section>

  <!-- EXPERIENCE -->
  <section class="container">
    <div class="section-title">
      <h2>Experience</h2>
      <p>Professional background</p>
    </div>

    <div class="experience">
      <div class="job">
        <h3>Junior DevOps Engineer, Cyber-NY — Brooklyn, NY
          Nov 2025 - Present</h3>
        <ul>
          <li>Upgraded production servers to PHP 8.4, tuning runtime configurations to reduce request latency by 16%
            and improve platform stability.</li>
          <li>Administered and documented LAMP stack configurations to support reliable production deployments.</li>
          <li>Created and maintained technical documentation for system changes and operational procedures.</li>
          <li>Assisted with application updates and deployments using GitHub Actions CI/CD pipelines.</li>
        </ul>
      </div>

      <div class="job">
        <h3>
          Junior Software Engineer, Amadou Diallo Foundation — New York, NY
          Jan 2025 - May 2025 </h3>
        <ul>
          <li>Designed and maintained the organization’s website using HTML and CSS, resolving cross-browser and
            compatibility issues.</li>
          <li>Supported secure cloud hosting and ensured compliance with data privacy policies across public-facing
            systems.</li>
          <li>Developed clear user and technical documentation to support maintainability and non-technical
            stakeholders.</li>

      </div>

      <div class="job">
        <h3>Information Security Analyst, SUNY Fredonia InfoSec — Fredonia, NY Jan 2024 - May 2024 </h3>
        <ul>
          <li>Supported enterprise Microsoft 365 migration, identity management, and campus card access control
            initiatives.</li>
          <li>Audited and managed permissions for 500+ user accounts, strengthening security and compliance posture.
          </li>
          <li>Assisted with vulnerability scanning, risk assessment, creating KB articles how to spot phishing
            emails for staff/students.</li>
        </ul>
      </div>

      <div class="job">
        <h3>IT Support Analyst, CUNY Guttman Community College — New York, NY May 2023 - Sept 2023 </h3>
        <ul>
          <li>Provided Tier 1–2 technical support for students and faculty, including Windows systems, hardware
            troubleshooting, and Active Directory account management.</li>
          <li>Resolved 95% of tickets within SLA using ServiceNow, contributing to improved user satisfaction and
            followed SOP documentation and support guides for troubleshooting issues.</li>
        </ul>
      </div>

      <div class="job">
        <h3>Digital Fulfillment Analyst, Wegmans Food Markets — Brooklyn, NY Nov 2021 - May 2023 </h3>
        <ul>
          <li>Maintained uptime of in-store technology, including POS systems and handheld scanners, supporting
            high-volume operations.</li>
          <li>Gained hands-on experience with retail technology, order processing, digital engagement and customer
            service.</li>
        </ul>
      </div>
  </section>

  <!-- PROJECTS -->
  <section id="projects" class="container">
    <div class="section-title">
      <h2>Projects</h2>
    </div>

    <div class="projects-grid">
      <div class="project">
        <h3>Project One</h3>
        <p>
          Brief description of the project, the problem it solves,
          and the tech stack used.
        </p>
      </div>

      <div class="project">
        <h3>Project Two</h3>
        <p>
          Highlight your impact, metrics, or unique technical challenges.
        </p>
      </div>

      <div class="project">
        <h3>Project Three</h3>
        <p>
          Focus on clean design, performance, or scalability improvements.
        </p>
      </div>
    </div>
  </section>

  <!-- SKILLS -->
  <section class="container">
    <div class="section-title">
      <h2>Skills</h2>
      <p>Languages</p>
    </div>

    <div class="skills-grid">
      <div class="skill">Python</div>
      <div class="skill">JavaScript</div>
      <div class="skill">PHP</div>
      <div class="skill">HTML</div>
      <div class="skill">CSS</div>
      <div class="skill">SQL</div>
      <div class="skill">Bash</div>
      <div class="skill">C++</div>
    </div>
  </section>

  <!-- cloud Skills -->
    <section class="container">
      <div class="section-title">
        <h2>Cloud Infrastructure & DevOps</h2>
      </div>

      <div class="skills-grid">
        <div class="skill">AWS (EC2, IAM, S3)</div>
        <div class="skill"> MySQL </div>
        <div class="skill">GitHub Actions</div>
      </div>
    </section>

    <!-- Operating Systems skills -->
      <section class="container">
        <div class="section-title">
          <h2>Operating Systems</h2>
        </div>

        <div class="skills-grid">
          <div class="skill">Windows</div>
          <div class="skill">macOS</div>
          <div class="skill">Linux (Ubuntu Server & Desktop)</div>
        </div>
      </section>

      <section class="container">
        <div class="section-title">
          <p>Tools & Services</p>
        </div>

        <div class="skills-grid">
          <div class="skill">Git</div>
          <div class="skill">GitHub</div>
          <div class="skill">Apache</div>
          <div class="skill">Cloudflare</div>
          <div class="skill">ServiceNow</div>
          <div class="skill">Google Workspace</div>
          <div class="skill">Microsoft 365</div>
          <div class="skill">PowerBI</div>
          <div class="skill">SSH</div>
          <div class="skill">TCP/IP</div>
          <div class="skill">DNS</div>
        </div>
      </section>

      <!-- CONTACT -->
      <section id="contact" class="container contact">
        <div class="section-title">
          <h2>Get In Touch</h2>
          <p>Let's build something great</p>
        </div>

        <p>
          Email me at <strong>ryamgordon448@gmail.com</strong><br />
          or connect with me on
          <a href="https://linkedin.com/in/ryankigordon" target="_blank">LinkedIn /</a>
          <a href="https://github.com/ryankgordon" target="_blank">GitHub</a>
        </p>

        <a href="mailto:ryangordon448@gmail.com" class="btn btn-primary">
          Say Hello
        </a>
      </section>

      <!-- FOOTER -->
      <footer>
        © 2026 Ryan Gordon. All rights reserved.
      </footer>

</body>

</html>